django>=5.0
gunicorn
dj-database-url
python-dotenv
psycopg2-binary
whitenoise
django-widget-tweaks
django-colorfield
joblib
scikit-learn  # if you're using sklearn models
numpy         # usually required with joblib
pandas        # if you're doing data processing